---
layout: reveal
title: "JavaOne 2012 | Testing JSF applications with Arquillian and Selenium"
---

%section
  %img.splash{:src => "assets/jbosscommunity/splash_text.png"}
%section
  %h1 State of the RichFaces
  %h2.capitalize 2012, 2013, and Beyond!
  %ul.intro
    %li Brian Leathem and Lukas Fryc
    %li RWP F2F 2013 - Miami
    %li 2013-02-04
%section
  %section
    %h2 The plan
    :textile
      * What's RichFaces!?
      * What we accomplisehd in 2012
      * Where we are now
      * Where RichFaces is headed in 2013 (hint: RichWidgets!)
    %div
      %img.clear{:src => "assets/images/storm_troopers.jpg", :alt => "http://www.flickr.com/photos/jdhancock/5845280258/"}
%section
  %section
    %h2 What is RichFaces?
    :textile
      h4. _RichFaces provides a *set of components* for building web applications built on top of the *visual* component model *standardized* in JSF as part of *Java EE*._
  %section
    %h2 Points of Difference
    :textile
      * Openness
      * Innovation
      * Community
      * Quality
  %section
    %h2 Openness
    :textile
      * Standards
      * Source
      * Process
  %section
    %h2 Innovation
    :textile
      * History of innovation
      ** JSF 2 ajax *is* ajax from RichFaces 3
      ** ...
      * Innovation today
      ** Testing JSF applications
      ** Component architecture
  %section
    %h2 Community
    :textile
      * Community members are welcome to get involved
  %section
    %h2 Quality
    :textile
      * Dedicated QE team
      * tens of thousands of tests in the functional test suite
      * Unit tests
      * New: Arquillian Extensions
%section
  %section
    %h2 Highlight | Team Changes
    :textile
      * Brian -> Project Lead
      * Jay & Wesley -> new projects
      * Intern: Michal Petrov
      * Reduced staff compared to Exadel days
      ** Reduce adminstrative overhead
  %section
    %h2 Highlight | 4.1, 4.2, 4.3
    :textile
      * Executed on the 6 mos. release cycle we committed to
      * Showcase on OpenShift
      * New components
      ** editor, pickList, orderingList, notify, contextMenu, hotkey, focus, placeholder
      * New Features
      ** ...
      * CDK improvements
  %section
    %h2 Highlight | Mobile
    :textile
      * Mobile compatible components
      * Single page programming model built using "slidfast"
  %section
    %h2 Highlight | RichFaces Bootstrap
    :textile
      * Sanbox Project
      * Great community involvement
      * PoC of our new component Architecture
  %section
    %h2 Highlight | "Polyglot" widgets
    :textile
      * Our standalone javascript widgets in a poly-framework environment
  %section
    %h2 Highlight | Testing
    :textile
      * Arquillian Graphene
      * Arquillian Warp
%section
  %section
    %h2 The Future
    :textile
      * RichFaces 5
      * RichWidgets
%section
  %section
    %h2 RF5 | New component Architecture
    :textile
      * Standalone javascript widgets
      * Loose coupling to the JSF back-end via a javascript event mechanism
  %section
    %h2 RF5 | New build
    :textile
  %section
    %h2 RF5 | Integrated LESS
    :textile
  %section
    %h2 RF5 | Bootstrap themes
    :textile
  %section
    %h2 RF5 | Built on RichWidgets
    :textile
%section
  %section
    %h2 RichWidgets | Widgets for Everyone!
    :textile
      * Pure javascript project
  %section
    %h2 RichWidgets | Mobile First
    :textile
  %section
    %h2 RichWidgets | Basis for RF 5
    :textile
  %section
    %h2 RichWidgets | Tools integration
    :textile

