@import "lib/bootstrap/less/variables.less";
@import "lib/bootstrap/less/mixins.less";

.skin {

  .rf-ac, .rf-ac-itm-hdr, .rf-ac-itm-cnt, .rf-ac-itm-hdr {
    font-size: @baseFontSize;
    font-family: @baseFontFamily;
    line-height: @baseLineHeight;
    border-color: @navbarBorder;
    background-color: @white;
    border: none;
  }

  .rf-ac {
    border: 1px solid @navbarBorder;
    border-top: none;
    .border-radius(@baseBorderRadius);
    overflow:hidden;
  }

  .rf-ac-itm-hdr {
    border-top: 1px solid @navbarBorder;
    background-image: none;
    color: @linkColor;
    padding: 5px 15px;
  }

  .rf-ac-itm-cnt {
    border-top: 1px solid @navbarBorder;
    padding: 10px 16px;
  }
}