---
layout: reveal
---

%section
  %img.splash{:src => "assets/images/splash_scaled.png"}
  %section
    %h1 Going Mobile
    %h2 with your RichFaces Applications
    %ul.intro
      %li Brian Leathem
      %li Senior Software Engineer, Red Hat
      %li 06.28.12
    .footer
      %img.summit-logo{:src => "assets/images/summit_logo_shadow.png" }
      %img.redhat-logo{:src => "assets/images/redhat_logo_notext.png" }
  %section
    %h2 The plan
    %ul
      %li Why Mobile?
      %li Why JSF?
      %li Why RichFaces?
    %section
      %h2 Who am I?
      %ul
        %li Senior Software Engineer at Red Hat
        %li RichFaces Project Lead
        %li Represent Red Hat on the JSF 2.2 EG (JSR-344)
        %li Seam Faces mobule lead
%section
  %section
    %h2 Why Mobile?
    %p I write desktop apps!
    %img{:src => "assets/images/old_computer.jpg", :alt => "http://www.linuk.web.id/2010/09/biografi-singkat-linus-torvalds.html"}
  %section
    %h2 Smartphones!
    %img{:src => "assets/images/MartinCooper.jpg", :alt => "http://en.wikipedia.org/wiki/File:2007Computex_e21Forum-MartinCooper.jpg"}
  %section
    %h2 Smartphones are everyhwere!
    %img{:src => "assets/images/mobile-chart2.png", :alt => "http://gigaom.com/2010/04/12/mary-meeker-mobile-internet-will-soon-overtake-fixed-internet/"}
%section
  %section
    %h2 Choose: Native app or Mobile
    %ul
      %li
        Web:
      %ul
        %li Common across platforms
        %li HTML 5 / CSS 3 / javascript
      %br
      %li Native:
      %ul
      %li Responsive
      %li Touch-specific controls
      %li Native L&F
  %section
    %h2 Choose: Native app or Mobile
    %p So how do I choose?
    %img{:src => "assets/images/damned_if_you_do.jpg", :alt => "https://devcentral.f5.com/weblogs/macvittie/archive/2008/09/10/3604.aspx"}

  %section{ :"data-state" => "alert"}
    %h1{:class => "vertical-center"} You need a mobile web app regardless!
%section
  %section
    %h2 Mobile Web is Ready
    %ul
      %li HTML 5
      %li CSS 3
      %li JavaScript
    %div{:style => "float:right; position: relative; top: -50px;"}
      %img{:src => "assets/images/HTML5_Logo_256.png", style => "padding: 20px; position: relative; top: 100px; left: -50px" }
      %img{:src => "assets/images/CSS3_Logo.png", style => "padding: 20px;" }
    %p{:style => "clear:both;position: relative; top: 70px;"}
      Html 5 Web App &rarr; Native App
  %section
    %h2
      target = Webkit
      %a{:href => "http://gs.statcounter.com/#mobile_os-ww-monthly-201205-201205-bar"}
        %img{:src => "assets/images/mobile_os_marketshare.jpg"}
  %section
    %h2 Device Detection
    %img{:src => "assets/images/iphone_ipad.jpg", :alt => "http://www.flickr.com/photos/ivyfield/4486938457/" }
  %section
    %h2 JavaScript APIs
    %ul
      %li Geo-location
      %li Local Storage
      %li Web Sockets
      %li Canvas
      %li Drag and Drop
      %br
      %li
        %a{:href => "http://www.quirksmode.org/webkit_mobile.html"}
          bit.ly/webkit-comparison
  %section
    %h2 Plethora of Frameworks

    .images{:style => "margin-top: 50px"}
      %table
        %tr
        %td
          %img{:src => "assets/images/frameworks/yui.png"}
        %td
          %img{:src => "assets/images/frameworks/Jquery-mobile-logo.png"}
        %td
          %img{:src => "assets/images/frameworks/sencha.png"}
      %table
        %tr
          %td
            %img{:src => "assets/images/frameworks/zepto_js.png"}
          %td
            %img{:src => "assets/images/frameworks/sproutcore.png"}
    %h2.fragment{:style => "margin-top: 50px"}
      + JSF !!
  %section
    %h2 Adapting JSF to be &ldquo;Mobile Ready&rdquo;
    %ul
      %li
        Responsive
        %ul.fragment
          %li Single Page programming model (via JSF AJAX)
      %br
      %li
        Touch-specific controls
        %ul.fragment
          %li CSS 3 styling
      %br
      %li
        Native L&F
        %ul.fragment
          %li Component libraries
%section
  %section
    %h2
      %a{:href => "http://www.jboss.org/jdf/quickstarts/jboss-as-quickstart/kitchensink/"}
        JBoss-as Quickstart: kitcehsink
      %img{:src => "assets/images/kitchensink-desktop_scaled.png"}
  %section
    %h2
      %a{:href => "https://github.com/bleathem/quickstart/tree/mobile-jsf"}
        kitcehsink: &ldquo;Mobilized&rdquo;
    %ul
      %li Still Vanilla JSF
      %br
      %li
        We introduced slidfast:
        %ul
          %li CSS + JavaScript
    %img{:style => "float:right; position: relative;", :src => "assets/images/kitchensink-mobile_scaled.png"  }
  %section
    %h2 Mobile compatible with slidfast

  %section
    %h2 Slidfast CSS

  %section
    %h2 Slidfast JavaScript

  %section
    %h2 Single page programming model



