---
layout: reveal
---

%section
  %img.splash.screen{:src => "assets/images/splash_scaled.png"}
  %img.splash.print{:src => "assets/images/splash_scaled_black.png"}
%section
  %h1 Going Mobile
  %h2.capitalize with your RichFaces Applications
  %ul.intro
    %li Brian Leathem
    %li Senior Software Engineer, Red Hat
    %li 06.28.12
  .footer
    %img.summit-logo{:src => "assets/images/summit_logo_shadow.png" }
    %img.redhat-logo{:src => "assets/images/redhat_logo_notext.png" }
%section
  %h2 The plan
  %ul
    %li Why Mobile?
    %li Why JSF?
    %li Why RichFaces?
%section
  %h2 Who am I?
  %ul
    %li Senior Software Engineer at Red Hat
    %li RichFaces Project Lead
    %li Represent Red Hat on the JSF 2.2 EG (JSR-344)
    %li Seam Faces module lead
%section
  %section
    %h2 Why Mobile?
    %p I write desktop apps!
    %img{:src => "assets/images/old_computer.jpg", :alt => "http://www.linuk.web.id/2010/09/biografi-singkat-linus-torvalds.html"}
  %section
    %h2 Smartphones!
    %img{:src => "assets/images/MartinCooper.jpg", :alt => "http://en.wikipedia.org/wiki/File:2007Computex_e21Forum-MartinCooper.jpg"}
  %section
    %h2 Smartphones are everywhere!
    %img{:src => "assets/images/mobile-chart2.png", :alt => "http://gigaom.com/2010/04/12/mary-meeker-mobile-internet-will-soon-overtake-fixed-internet/"}
%section
  %section
    %h2 Choose: Native app or Mobile
    %ul
      %li
        Web:
      %ul
        %li Common across platforms
        %li HTML 5 / CSS 3 / javascript
      %br
      %li Native:
      %ul
      %li Responsive
      %li Touch-specific controls
      %li Native L&F
  %section
    %h2 Choose: Native app or Mobile
    %p So how do I choose?
    %img{:src => "assets/images/damned_if_you_do.jpg", :alt => "https://devcentral.f5.com/weblogs/macvittie/archive/2008/09/10/3604.aspx"}

  %section{ :"data-state" => "alert"}
    %h1{:style => "margin-top: 180px;"} You need a mobile web app regardless!
%section
  %section
    %h2 Mobile Web is Ready
    %ul
      %li HTML 5
      %li CSS 3
      %li JavaScript
    %div{:style => "float:right; position: relative; top: -50px;"}
      %img.html5_logo{:src => "assets/images/HTML5_Logo_256.png"}
      %img{:src => "assets/images/CSS3_Logo.png", :style => "padding: 20px;" }
    %p{:style => "clear:both;position: relative; top: 70px;"}
      Html 5 Web App &rarr; Native App
  %section
    %h2
      target = Webkit
      %a{:href => "http://gs.statcounter.com/#mobile_os-ww-monthly-201205-201205-bar"}
        %img{:src => "assets/images/mobile_os_marketshare.jpg"}
  %section
    %h2 JavaScript APIs
    %ul
      %li Geo-location
      %li Local Storage
      %li Web Sockets
      %li Canvas
      %li Drag and Drop
      %br
      %li
        %a{:href => "http://www.quirksmode.org/webkit_mobile.html"}
          bit.ly/webkit-comparison
  %section
    %h2 Plethora of Frameworks

    .images{:style => "margin-top: 50px"}
      %table
        %tr
        %td
          %img{:src => "assets/images/frameworks/yui.png"}
        %td
          %img{:src => "assets/images/frameworks/Jquery-mobile-logo.png"}
        %td
          %img{:src => "assets/images/frameworks/sencha.png"}
      %table
        %tr
          %td
            %img{:src => "assets/images/frameworks/zepto_js.png"}
          %td
            %img{:src => "assets/images/frameworks/sproutcore.png"}
    %h2.fragment{:style => "margin-top: 50px"}
      + JSF !!
  %section
    %h2 Why JSF?
    %ul.bullets
      %li Standardized component-oriented programming model
      %li AJAX built-in
      %li Abstract away the javascript
      %li Facelets: a Powerful templating mechanism
      %li Rich component sets
      %li Mobile specific renderers
      %br
    %h3.capitalize Let's build on our investment in JSF technology!
%section
  %section
    %h2 Adapting JSF to be &ldquo;Mobile Ready&rdquo;
    %ul
      %li
        Responsive
        %ul.fragment
          %li Single Page programming model (via JSF AJAX)
      %br
      %li
        Touch-specific controls
        %ul.fragment
          %li CSS 3 styling
      %br
      %li
        Native L&F
        %ul.fragment
          %li Component libraries
  %section
    %h2 Hide the Location bar
  %section
    %h2 Device Detection
    %img{:src => "assets/images/iphone_ipad.jpg", :alt => "http://www.flickr.com/photos/ivyfield/4486938457/" }
  %section
    %h2 Device Detection - UAgentInfo
    %pre{:class => "prettyprint", :style => "font-size: 14pt; margin-top: 120px"}
      %code{:id => "dynamic_page_element"}
        &nbsp;
        :escaped
          public class UAgentInfo implements Serializable {
             ...
             public void initDeviceScan() {
                this.isIphone = detectIphoneOrIpod();
                this.isAndroidPhone = detectAndroidPhone();
                this.isTierTablet = detectTierTablet();
                this.isTierIphone = detectTierIphone();
                this.isTierRichCss = detectTierRichCss();
                this.isTierGenericMobile = detectTierOtherPhones();
             }
            ...
        &nbsp;
  %section
    %h2 Device Detection - JSF Bean
    %pre{:class => "prettyprint", :style => "font-size: 14pt;  margin-top: 90px"}
      %code{:id => "dynamic_page_element"}
        &nbsp;
        :escaped
          @Model
          public class UserAgent {

             private UAgentInfo uAgentInfo;

             @PostConstruct
             public void init() {
                FacesContext context = FacesContext.getCurrentInstance();
                HttpServletRequest request = (HttpServletRequest)
                            context.getExternalContext().getRequest();
                String userAgentStr = request.getHeader("user-agent");
                String httpAccept = request.getHeader("Accept");
                uAgentInfo = new UAgentInfo(userAgentStr, httpAccept);
             }
        &nbsp;
  %section
    %h2 Device Detection - ReWrite
    %pre{:class => "prettyprint", :style => "font-size: 14pt; margin-top: 120px"}
      %code{:id => "dynamic_page_element"}
        &nbsp;
        :escaped
          public Configuration getConfiguration(final ServletContext context) {
             return ConfigurationBuilder.begin()
                .defineRule()
                .when(Direction.isInbound()
                .and(Path.matches("/").or(Path.matches("/index.jsf")))
                .and(UserAgent.isMobile())
                ).perform(Forward.to("/mobile/"));
             }
        &nbsp;
  %section
    %h2 Orientation Detection
    %div{:style => "float:right; position: relative; top: -50px;"}
      %img.plain.landscape{:src => "assets/images/landscape_scaled.png"}
      %img.plain.portrait{:src => "assets/images/portrait_scaled.png"}

%section
  %section
    %h2
      %a{:href => "http://www.jboss.org/jdf/quickstarts/jboss-as-quickstart/kitchensink/"}
        JBoss-as Quickstart: kitchensink
      %img{:src => "assets/images/kitchensink-desktop_scaled.png"}
  %section
    %h2
      %a{:href => "https://github.com/bleathem/quickstart/tree/mobile-jsf"}
        kitchensink: &ldquo;Mobilized&rdquo;
    %ul
      %li Still Vanilla JSF
      %br
      %li
        We introduced slidfast:
        %ul
          %li CSS + JavaScript
    %img{:style => "float:right; position: relative;", :src => "assets/images/kitchensink-mobile_scaled.png"  }
  %section
    %h2 Mobile compatible with slidfast

  %section
    %h2 Slidfast CSS
    %pre{:class => "prettyprint"}
      %code{:id => "activate_the_gpu"}
        &nbsp;
        :escaped
          .page {
            position: absolute;
            width: 100%;
            height: 100%;
            /*activate the GPU for compositing each page */
            -webkit-transform: translate3d(0, 0, 0);
          }
        &nbsp;
      .fragment{:data=>{:prettify=>"activate_the_gpu", :prettify_lines=>"6:6"}}

  %section
    %h2 Slidfast JavaScript

  %section
    %h2 Single page programming model
    %pre{:class => "prettyprint", :style => "font-size: 8px"}
      %code{:id => "multiple_page_elements"}
        &nbsp;
        :escaped
          <?xml version="1.0" encoding="UTF-8"?>
          <ui:composition template="/WEB-INF/templates/mobile.xhtml"
                          xmlns:ui="http://java.sun.com/jsf/facelets"
                          xmlns:f="http://java.sun.com/jsf/core"
                          xmlns:h="http://java.sun.com/jsf/html"
                          xmlns:my="http://java.sun.com/jsf/composite/components/mobile">
              <ui:define name="content">
                  <h:outputStylesheet name="mobile.css" library="css"/>
                  <h:outputScript>
                     //initialize mobile RichFaces with slidfast
                     slidfast({
                        defaultPageID:'home-page',
                        callback: 'handleHashChange',
                        backButtonID: 'back-button'
                     });
                  </h:outputScript>

                  <div id="browser">
                      <header>
                          <div>
                              <div id="back-button" class="hide-button">Home</div>
                              <div id="info-button" class="right-header-button info-link">
                                  <a href="#about">i</a>
                              </div>
                              <p>Mobile JSF</p>
                          </div>
                      </header>
                      <h:form id="mobileForm">
                         <div id="page-container">
                              <div id="home-page" class="page stage-left">
                                  <ui:include src="/mobile/home.xhtml"/>
                              </div>
                             <div id="new" class="page stage-right">
                                 <ui:include src="/mobile/new.xhtml"/>
                             </div>
                             <div id="list" class="page stage-right">
                                 <ui:include src="/mobile/list.xhtml"/>
                             </div>
                             <div id="about" class="page stage-right">
                                 <ui:include src="/mobile/about.xhtml"/>
                             </div>
                          </div>
                      </h:form>
                  </div>
              </ui:define>
          </ui:composition>
        &nbsp;
    .fragment{:data=>{:prettify=>"multiple_page_elements", :prettify_lines=>"2:6"}}
    .fragment{:data=>{:prettify=>"multiple_page_elements", :prettify_lines=>"10:15"}}
    .fragment{:data=>{:prettify=>"multiple_page_elements", :prettify_lines=>"18:18"}}
    .fragment{:data=>{:prettify=>"multiple_page_elements", :prettify_lines=>"19:27"}}
    .fragment{:data=>{:prettify=>"multiple_page_elements", :prettify_lines=>"28:43"}}
  %section
    %h2 Scale with a dynamic page include
    %pre{:class => "prettyprint", :style => "font-size: 8px"}
      %code{:id => "dynamic_page_element"}
        &nbsp;
        :escaped
          <?xml version="1.0" encoding="UTF-8"?>
          <ui:composition template="/WEB-INF/templates/mobile.xhtml" ...>
              <ui:define name="content">
                  ...
                  <div id="browser">
                      ...
                      <h:form id="mobileForm">
                          <h:inputHidden id="page" value="\#{pageBean.location}" />
                          <h:outputScript >
                            var handleHashChange = function (page) {
                               var appPage = $('#app-page');
                               if (appPage.data('activePage') === page) {
                                  slidfast.core.slideTo('app-page');
                               } else {
                                  loadPage(page);
                                  appPage.data('activePage', page);
                               }
                            }

                            var loadPage = function (page) {
                               var hiddenInput = 'mobileForm:page';
                               $(document.getElementById(hiddenInput)).val(page);

                               var options = {
                                  execute: hiddenInput,
                                  render : '@form',
                                  onevent : function(event) {
                                     if(event.status == 'success') {
                                        slidfast.core.slideTo('app-page');
                                     }
                                  }
                               }
                               jsf.ajax.request(hiddenInput, null, options);
                            }
                         </h:outputScript>

                         <div id="page-container">
                              <div id="home-page" class="page stage-left">
                                  <ui:include src="/mobile/home.xhtml"/>
                              </div>
                              <div id="app-page" class="page stage-right">
                                  <ui:include src="\#{pageBean.page}"/>
                              </div>
                          </div>
                      </h:form>
                  </div>
              </ui:define>
          </ui:composition>
        &nbsp;
    .fragment{:data=>{:prettify=>"dynamic_page_element", :prettify_lines=>"37:44"}}
    .fragment{:data=>{:prettify=>"dynamic_page_element", :prettify_lines=>"10:34"}}
  %section
    %section
      %h2 Simplification with RichFaces
      %ul
        %li This is too much javascript!



