---
layout: reveal
---

%section
  %h1 Leverage the jQuery plugin ecosystem
  %h2.capitalize to create highly-interactive JSF Components
  %ul.intro
    %li Brian Leathem
    %li Senior Software Engineer, Red Hat
    %li 06.28.12
  %ul.notes
    %li Welcome to the session "Going Mobile with your RichFaces Applications"
%section
  %h2 The plan
  %ul
    %li Why the Mobile Web?
    %li Why JSF?
    %li Why RichFaces?
  %div
    %img{:src => "assets/images/storm_troopers.jpg", :alt => "http://www.flickr.com/photos/jdhancock/5845280258/", :style => "clear: both"}
  %ul.notes
    %li We're here to talk about writing mobile app with JSF + RichFaces
    %li We'll first establish that the mobile web is an important and unavoidable target in today's market
    %li Then we'll demonstrate how JSF & RichFaces can be effective tools in this space.
    %li
      Before we dive in, I'd like to get a feel from you as yo how you are positioned today:
      %ol
        %li Who amongst you is currently using RichFaces for Desktop Applications?
        %li Who are still unsure whether they need a mobile solution at all?
        %li Who already has a mobile strategy in place?
        %li Those of you who do already have a mobile strategy in place, how many are doing it with JSF?
%section
  %h2 Who am I?
  %ul
    %li Senior Software Engineer at Red Hat
    %li RichFaces Project Lead
    %li Represent Red Hat on the JSF 2.2 EG (JSR-344)
    %li Seam Faces module lead
  %div
    %img{:src => "assets/images/silhouette.png", :alt => "http://leslycorazon.wikispaces.com/file/detail/head-silhouette-with-question-mark.png/319199232"}
%section
  %h2 Additional Resources
  .left.resources
    %p Source code:
    %ul.links
      %li
        %a{:href => "http://www.jboss.org/jdf/quickstarts/jboss-as-quickstart/kitchensink/"} JBoss-as Kitchensink quickstart
      %li
        %a{:href => "https://github.com/bleathem/quickstart/tree/mobile-jsf"} JBoss-as Kitchensink quickstart | mobile w/ Vanilla JSF
      %li
        %a{:href => "https://github.com/richfaces/as-quickstarts"} JBoss-as Kitchensink quickstart | mobile w/ RichFaces
    %p{:style => "margin-top: 30px"} Articles:
    %ul.links
      %li
        %a{:href => "http://www.html5rocks.com/en/mobile/optimization-and-performance/"} HTML 5 Rocks article
        \- introduces and motivates the slidfast approach
      %li
        %a{:href => "https://community.jboss.org/wiki/RichFacesMobile"} RichFaces Mobile wiki page
        \- all things RichFaces + mobile
      %li
        %a{:href => "https://community.jboss.org/wiki/GettingStartedWithMobileRichFaces"} Getting Started With Mobile RichFaces
%section
  %h2 Stay in the loop
  %ul.links.loop
    %li
      Project website:
      %a{:href => "http://richfaces.org"} http://richfaces.org
    %li
      Twitter:
      %a{:href => "https://twitter.com/#!/richfaces"} https://twitter.com/#!/richfaces
    %li
      Google+:
      %a{:href => "https://plus.google.com/b/115573055688754345457/"} http://richfaces.org
    %li
      RichFaces Forums:
      %a{:href => "https://community.jboss.org/en/richfaces?view=discussions"} https://community.jboss.org/en/richfaces?view=discussions
    %li
      Blog feed:
      %a{:href => "http://planet.jboss.org/feed/richfacesall"} http://planet.jboss.org/feed/richfacesall
    %li
      IRC: #richfaces
  %p{:style => "margin-top: 50px" } Later today:
  %ul.links
    %li
      BOF: What's New in Java Frameworks for Web, Cloud, & Mobile
      %ul
        1:20 pm - 2:20 pm



