.footer {
 background-color: #cc0000;
 width: 100%;
 clear: both;
 position: fixed;
 z-index: 30;
 height: 75px;
 left: 0;
 bottom: 0;
}

.footer .summit-logo {
 position: relative;
 z-index: 50;
 top: -75px;
 left: 35px;
 float: left;
 border: none;
 background: none;
}

.footer .redhat-logo {
 position: relative;
 float: right;
 z-index: 50;
 top: -10px;
 right: 20px;
 border: none;
 background: none;
}

.reveal ul {
 list-style: none;
}

.reveal ul ul, .reveal ul.bullets {
 list-style: disc;
}

ul.intro {
 margin-top: 50px;
 list-style: none;
}

.credits {
 font-size: 0.5em;
 line-height: 1.2em;
}

.reveal section img.splash, .reveal section .footer img, .reveal img.plain {
 border: none;
 background: none;
 -webkit-box-shadow: none;
    -moz-box-shadow: none;
         box-shadow: none;

}

.reveal .white {
 background-color: #FFFFFF;
}

.reveal .images {
 width: 100%;
 padding-bottom: 50px;

}

.reveal .images table {
 width: 100%;
 margin: auto;
}

.reveal .images td {
 vertical-align: middle;
}

.reveal .images img {
 border: none;
 background: none;
 -webkit-box-shadow: none;
 -moz-box-shadow: none;
 box-shadow: none;
}

.html5_logo {
    padding: 20px;
    position: relative;
    top: 100px;
    left: -50px
}

.landscape {
    position: relative; top: -100px; left: -150px;
}

.portrait {
    position: relative; top: 50px; left: -50px;
}

.reveal .prettyprint {
    background-color: #ffffff;
}

.reveal .prettyprint .prettyprint {
    width: auto;
}

.reveal .capitalize {
    text-transform: capitalize;
}

.reveal .prettyprint .highlight, .reveal .prettyprint .highlight code {
    background-color:#eee;
    font-weight: normal;
    font-size: 18px;
    margin: 2px auto;
}

.reveal section .print {
    display: none;
}

.commons {
    font-size: 10pt;
    text-align: center;
}

@media print {
    section > ul, section > div, section > p {
        margin-top: 50px;
        margin-left: 50px;
    }

    body {
        position: static;
    }

    .state-background {
        position: static;
    }

    body, p, td, li, div, a {
        font-size: 24pt;
    }

    h1 { font-size: 150% !important; }
    h2 { font-size: 140% !important; }
    h3 { font-size: 130% !important; }
    h4 { font-size: 120% !important; }
    h5 { font-size: 115% !important; }
    h6 { font-size: 110% !important; }

    .reveal section .screen {
        display: none; !important
    }

    .reveal section .print {
        display: block;
    }

    .footer, .html5_logo, .landscape, .portrait {
        position: static;
        top: auto;
        left: auto;
        right: auto;
        bottom: auto;
    }

    .footer {
        margin-top: 200px;
    }

    pre.prettyprint {
        border: none;
    }
}