:plain
    <!doctype html>
    <html lang="en">

    <head>
        <meta charset="utf-8">

        <title>JBW 2012 | Going Mobile with your RichFaces Applications</title>

        <meta name="description" content="Going Mobile with your RichFaces Applications">
        <meta name="author" content="Brian Leathem">

        <meta name="apple-mobile-web-app-capable" content="yes"/>
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>

        <link href='http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic' rel='stylesheet' type='text/css'>

        <link rel="stylesheet" href="stylesheets/reset.css" type="text/css"/ >
        <link rel="stylesheet" href="stylesheets/main.css" type="text/css"/ >
        <link rel="stylesheet" href="lib/zenburn.css" type="text/css"/ >
        <link rel="stylesheet" href="stylesheets/conf.css" type="text/css"/ >
        <link rel="stylesheet" href="stylesheets/print.css" type="text/css" media="print">
    </head>

    <body>

    <div class="reveal">

    <!-- Used to fade in a background when a specific slide state is reached -->
    <div class="state-background"></div>

    <!-- Any section element inside of this container is displayed as a slide -->
    <div class="slides">
~ content
:plain
    </div>

    <!-- The navigational controls UI -->
    <aside class="controls">
        <a class="left" href="#">&#x25C4;</a>
        <a class="right" href="#">&#x25BA;</a>
        <a class="up" href="#">&#x25B2;</a>
        <a class="down" href="#">&#x25BC;</a>
    </aside>

    <!-- Displays presentation progress, max value changes via JS to reflect # of slides -->
    <div class="progress"><span></span></div>

    </div>

    <!-- Optional libraries for code syntax highlighting and classList support in IE9 -->
    <script src="lib/highlight.js" type="text/javascript"></script>
    <script src="lib/classList.js" type="text/javascript"></script>

    <script src="js/reveal.js" type="text/javascript"></script>

    <script type="text/javascript">
        // Parse the query string into a key/value object
        var query = {};
        location.search.replace(/[A-Z0-9]+?=(\w*)/gi, function (a) {
            query[ a.split('=').shift() ] = a.split('=').pop();
        });

        // Fires when a slide with data-state=customevent is activated
        Reveal.addEventListener('customevent', function () {
            alert('"customevent" has fired');
        });

        // Fires each time a new slide is activated
        Reveal.addEventListener('slidechanged', function (event) {
            // event.previousSlide, event.currentSlide, event.indexh, event.indexv
        }, true);

        Reveal.initialize({
            // Display controls in the bottom right corner
            controls:true,

            // Display a presentation progress bar
            progress:true,

            // If true; each slide will be pushed to the browser history
            history:true,

            // Loops the presentation, defaults to false
            loop:false,

            // Flags if mouse wheel navigation should be enabled
            mouseWheel:false,

            // Apply a 3D roll to links on hover
            rollingLinks:false,

            // UI style
            theme:query.theme || 'default', // default/neon

            // Transition style
            transition:'linear' // || query.transition || 'default' // default/cube/page/concave/linear(2d)
        });

        hljs.initHighlightingOnLoad();
    </script>

    </body>
    </html>
